*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;

  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #131313;
}
/* img {
  max-width: 600px;
} */
ul {
  padding: 0;
  margin: 0;
  list-style: none; /* убрать базовый стиль (точки что это список) */
}

li {
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit; /* наследование цвета от родителя*/
}

p {
  margin: 0;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto; /* отсуп ввер/низ лево/права*/
  /* background-color: rgb(255, 140, 0); */
}

.header__inner {
  display: flex;
  justify-content: space-between; /* элементы разошлись по бокам */
  align-items: center; /* элементы внутри по центру */
}
.menu {
  margin-right: 71px;
}

.menu__list {
  display: flex;
}

.menu__item + .menu__item {
  padding-left: 10px;
}

.menu__link {
  text-transform: uppercase;
  padding: 43px 20px;
  transition: all 0.8s;
}
.menu__link:hover {
  background-color: #131313;
  color: white;
  box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.5);
  transition: 1s;
}

.bike {
  padding: 100px 0 150px;
}
.bike__inner {
  display: flex;
  justify-content: space-between;
}

.bike__column-slider {
  margin-left: 30px;
  max-width: 630px;
}

.bike__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  margin: 60px 0 5px 0;
}

.bike__subtitle {
  font-size: 32px;
  font-weight: 400;
  margin: 0 0 60px 0;
  line-height: 32px;
  color: #6f6f6f;
}

.bike__text {
  max-width: 420px;
  margin-bottom: 20px;
  text-align: justify;
}

.bike__link {
  background-color: #131313;
  color: #f6f6f6;
  display: inline-block;
  padding: 28px 81px;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1.1em;
  margin: 80px 0 0 0;
}

.bike__link:hover {
  background-color: red;
  box-shadow: 0px 5px 40px 0px rgba(253, 1, 1, 0.5);
  transition: 2s;
  transform: scale(1.2);
}

.bike__slider .slick-dots {
  right: 0;
  top: 52px;
}

.bike__slider:hover {
  transition: 2s;
  transform: scale(1.17);
}

.slick-dots {
  position: absolute;
}

.slick-dots li + li {
  padding-top: 20px;
}

.slick-dots button {
  font-size: 0;
  padding: 0;
  border: none;
  background-color: #131313;
  width: 2px;
  height: 25px;
  border-radius: 7px;
  cursor: pointer; /* изменение курсора при наведении*/
  transition: all 0.3s; /* время эффекта */
}
.slick-dots button:hover,
.slick-active button {
  background-color: red;
}

.bike__list {
  display: flex;
  justify-content: space-around;
  margin-top: 35px;
  align-items: center;
}

.bike__list-item {
  font-weight: 700;
  text-transform: uppercase;
  max-width: 160px;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 60px;
}

.bike__list-item:hover {
  transition: 0.7s; /* длительность эффекта */
  transform: scale(1.5); /* увеличениее размера */
  background-color: #6f6f6f;
  color: #f6f6f6;
  padding: 10px;
  max-width: 200px;
}

bike__list-num {
}

.bike__list-text {
  text-transform: none;
  text-align: center;
  /* display: block; */
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  min-width: 160px;
  margin: auto 0;
}

.info {
  margin-bottom: 150px;
}

.info__inner {
  display: flex;
  justify-content: flex-start;
}

.info__item {
  max-width: 490px;
}
.info__img {
  margin-right: 60px;
  max-width: 570px;
  object-fit: cover; /* нормальное растяжение*/
}

.info__item + .info__item {
  margin-top: 50px;
  /* border: 2px solid black; */
}

.info__item-titile {
  max-width: 490px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin: 0 0 10px;
}

.info__item-text {
  max-width: 450px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.characteristics {
  margin-bottom: 150px;
}

.characteristics__head {
  margin: 0 0 40px 0;
  font-size: 16px;

  font-weight: 700;

  text-transform: uppercase;
}

.characteristics__inner {
  display: flex;
  /* justify-content: space-between; */
}

.characteristics__img {
  align-self: center;
}

.characteristics__items {
  /* max-width: 570px; */
  flex-basis: 570px;
  margin-right: 60px;
}

.characteristics__list + .characteristics__list {
  margin-top: 31px;
}

.characteristics__title {
  padding: 2px 0 3px 0;
  background-color: #131313;
  color: #f6f6f6;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.characteristics__line {
  display: flex;
  /* justify-content: space-between; */
  padding-top: 5px;
}

.characteristics_name {
  /* max-width: 285px; */
  flex-basis: 285px;
  line-height: 120%;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  padding-right: 25px;
}

.characteristics__descr {
  /* max-width: 285px; */
  flex-basis: 285px;
  line-height: 120%;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.slider {
  margin-bottom: 50px;
}

.slider__item {
  padding-left: 50px;
}

.slider__items .slick-dots {
  top: 0;
  left: 0;
}

.price {
  margin-bottom: 100px;
}
.form {
  max-width: 420px;
}

.form__title {
  margin-bottom: 40px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.form__text {
  max-width: 300px;
  margin-bottom: 30px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
}

.form__input-name,
.form__input-phone {
  width: 100%;
  border: none;
  border-bottom: 1px solid #131313;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.form__input-name::placeholder,
.form__input-phone::placeholder,
.form__text-color {
  color: #6f6f6f;
  opacity: 0.5; /* прозрачность  */
}

/* такие стили на наведение не работают*/
/* .form__input-name:hover,
.form__input-phone:hover {
  border: 1px solid rgb(251, 0, 33);  
  transition: 5s;
} */

.form__text-color {
  margin-bottom: 10px;
}
